
body {margin: 0;
	background-color:#133240 }

h1 {text-align: center;
 	color: #ffffff;
 	background-color: #26637F;
 	padding: 5%;
 	font-family: Verdana;
 	margin-top: 0;
 	margin-bottom: 0;
 	background-size: cover;}

p {text-align: center;
	background-color: #133240;
	border: none;
	margin-top: 0; 
	margin-bottom: 0;
	color: #ffffff;}

h2 {background-color:#133240;
	margin-top: 0;
	margin-bottom: 0;}

img {padding: 5%;}

a {text-decoration: none;}

ul {text-align: left;
		color: #ffffff;
		font-family: Verdana;
		font-size: 18pt;
		font-weight: bold;
		display: block;}

li {text-align: left;
		color: #ffffff;
		font-family: Verdana;
		font-size: 14pt;
		font-weight: bold;}

a:hover {background-color: #3995BF;}

/*class for links*/
.links {text-align: center;
		color: white;
		padding: 12%;
	}

/*class for bio content*/
.bio {text-align: left;
		padding: 10%;
		font-family: Verdana;
		font-size: 20pt;
		font-weight: bold;
		display: block;}

/*class for resume content*/
.res {text-align: left;
		font-family: Verdana;
		font-size: 22pt;
		font-weight: bold;
		display: block;}




